body
{
	overflow: scroll;
}

.mapPics
{
	margin:0 auto;
	width: 200px;
}


#contentFrame
{
	margin: auto;
	padding: 0px;
	border: 5px solid black;
	border-radius:1%;
	background:cornflowerblue;
	top: 107px;
	position: absolute;
	left: 50%;	
  	margin-left: -400px;
}

.gameScreen
{
	display:none;
}

.btn-group-vertical
{
	display:none;
	position: absolute;
  	left:0px;
}

.towers
{
	font-size:9.5px;
}

.towers:hover
{
	font-weight:800;
}

#mainMenuBtns
{
	/*position:relative;*/
	/*margin:0 auto;*/
	/*width:200px;*/
	margin-top:50px;
}

#mainBtn:hover
{
	font-weight:800;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#infoBox
{
	display:none;
	position:absolute;
	z-index: 3;
	top:0px;
	left:670px;
}

#infoBoxContent
{
	font-family: inherit;
	color: inherit;
}

.canvas-container
{
    margin:0 auto;
}

canvas 
{
	position:absolute;
    border: thin solid black;
    display: block;
    padding: 0;
    left:100px;
    margin-top: 20px;
}

#container
{
	position:relative;
	width:1000px;
	margin: 0 auto;
}

#HUD_CONTAINER
{
	z-index: 10;
	text-align:center;
	position: absolute;
	top: 50px;
	width: 800px;
	left: 100px;	
}

.HUD
{
	padding: 0px 10px;
	font-family: helvetica;
	font-size:16px; 
}

#levelCounter
{
	position:absolute;
	margin-top:-3px;
	margin-left:auto;
}

.bold
{
	color: firebrick;
	font-weight: 800;
}

h1
{
	margin-top:1%;
	text-align:center;
	font-family:'Oswald', sans-serif;
	font-size:40px;
	color:steelblue;
}

h2
{
	text-align:center;
	font-family:'Oswald', sans-serif;
	font-size:25px;
	color:black;
	/*border-bottom: 2px solid black;*/
}

h3
{
	text-align:center;
	font-family:calibri;
	font-size:18px;
	color:black;
	margin-bottom:8px;
}

h4
{
	margin-top:-15px;
	text-align:center;
	font-family:'Oswald';
	font-size:18px;
	color:firebrick;
	font-weight:600;
}

.beta
{
	color:lightgray;
}

#menu
{
    /*border:solid thin black;*/
    top:8.9%;
    width:102px;
    background:rgba(255,255,255,1);
}

#shopMenu
{
    display:none;
    top:28%;
    width:102px;
    background:rgba(255,255,255,1);
}

#upgradeMenu
{
	display:none;
    top:28%;
    width:102px;
    left:initial;
    right:0px;
    background:rgba(255,255,255,1);
}

#sellPrice
{
	color:green;
}

#dmg
{
	color:red;
}

.sell
{
	height:30px;
	font-size:12px;
}

.shop-stats
{
	font-size:9.5px;
}

.shop-label:hover
{
	cursor:default;
}

.towerButtons
{
	width:70%;
	border-radius:2px;
	margin:5px auto;
}